/**
 * Custom Media Queries
 */
@media (max-width: 767px){
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
      background-color: #e5e5e5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
      color: #fff;
      background-color: #a1359e;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #e5e5e5;
  }

}
@media (max-width: 991px) {
  .footer .container {
    margin-top: 50px !important;
    text-align: center;
  }
  .footer .footer-title {
    padding-top: 20px;
  }
  .footer .footer-title hr{
    width: 45%;
  }
}
@media (max-width: 1199px) {

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar .container {
    width: auto;
  }
}

/* End of Custom Media Queries */

/**
 * Footer Custom CSS
 */
html,body {
    height:100%;
    width: 100%;
}
body {
    display: table;
}
.footer .container {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer {
    display: table-row;
    height: 1px;
    color: #e5e5e5;
    background: #2e3032
}
.footer .border {
  border-top: 4px solid #a1359e;
}
.footer-subtitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer-subtitle-content {
  margin: 0;
}
.footer .footer-title hr{
  margin-top: 10px;
}
/* Footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* Footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* End of Footer Custom CSS */

/**
 * Navbar Custom CSS
 */
.navbar-inverse {
    /*background-color: #81007F;
    border-color: #5b0159;
    background-image: none;*/
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #e5e5e5;
    background-color: #a1359e;
    background-image: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e5e5e5;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #e5e5e5;
    background-color: #a1359e;
    background-image: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #a1359e;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #a1359e;
}
.navbar-inverse .navbar-toggle {
    border-color: #a1359e;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a1359e;
    background-image: none;
    outline: 0;
}

.form-control:focus {
    border-color: #a1359e;
}

body {
  padding-top: 70px;
}

.modal-image {
  padding: 15px;
}

.no-margin-title {
  font-weight: bold;
  margin: 0;
}

.panel-list-spacing li {
  padding-bottom: 20px;
}

.bold li{
  font-weight: bold;
}
/* End of Navbar Custom CSS */
